# Configuration for 'git archive'
# see https://git-scm.com/docs/git-archive/2.40.0#ATTRIBUTES
# Don't include examples in the distribution artifact, just to reduce size
.github/ export-ignore
examples/ export-ignore
tests/smoke_bzlmod/ export-ignore
tests/smoke_workspace/ export-ignore
