import %workspace%/../shared/.bazelrc.common


# For Rust (maturin) builds
build --@llvm//config:experimental_stub_libgcc_s=True

common --disk_cache .cache
try-import %workspace%/.bazelrc.user
try-import %workspace%/../shared/.bazelrc.user
import %workspace%/../shared/.bazelrc.cc
