absl-py==2.0.0
blinker==1.7.0  # For PDM
build==1.0.3
dacite==1.6.0
importlib-metadata==6.8.0
installer==0.7.0
packaging==23.2
pdm==2.10.1
pip==23.3.1
poetry-core==1.8.1
repairwheel==0.2.6
tomli==2.0.1
typing-extensions==4.8.0
wheel==0.41.3
