absl-py==1.4.0
blinker==1.6.0  # For PDM
build==0.10.0
dacite==1.6.0
importlib-metadata==6.4.1
installer==0.7.0
packaging==23.1
pdm==2.5.2
pip==23.1
poetry-core==1.5.2
repairwheel==0.2.2
tomli==2.0.1
typing-extensions==4.5.0
wheel==0.40.0
