import %workspace%/../shared/.bazelrc.common

build --action_env=RULES_PYCROSS_DEBUG=1
try-import %workspace%/.bazelrc.user
try-import %workspace%/../shared/.bazelrc.user
import %workspace%/../shared/.bazelrc.cc
